<!DOCTYPE html>
<html>
<head>
	<title>Attendance QR Code System </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/css/st/style.css" rel="stylesheet" />
	@* <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" /> *@
<!-- //Custom Theme files -->
    <!-- web font -->
    <link href="~/css/site.css" rel="stylesheet" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
	
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<div class="container body-content">
			@RenderBody()	
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>
				©  Design Under Supervision  Of Prof. Dr. Omina Elbarbary 
			</p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		@await RenderSectionAsync("Scripts",required:false)
</body>
</html> 