@{
    ViewData["Title"] = "_TheEnd";
}

<!DOCTYPE html>
<html >
<head>
    <title>UnAuthorized User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="_TheEndLayOut" />
   
        <style >
        body {
            background-color: black;
            color: white;
        }

        h1 {
            color: red;
        }

        h6 {
            color: red;
            text-decoration: underline;
        }</style>

</head>
<body class="body">
    @RenderBody()
</body>
</html>

