@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<h1 class="text-center" style="color: black; font-weight: bold;">Reset Password</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-controller="Account" asp-action="ResetPassword">
			<div asp-validation-summary="All"></div>
			<input asp-for=@Model.Email type="hidden">
			<input asp-for=@Model.token type="hidden">
			<input class="text " type="password" asp-for=@Model.Password placeholder="Password" required="">
			<input class="text " type="password" asp-for=@Model.ConfirmPassword placeholder="Confirm Password" required="">

			<input type="submit" value="Reset Password">
		</form>

	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
