@{
    ViewData["Title"] = "TheEnd";
    Layout = "~/Views/Shared/_TheEnd.cshtml";
}


    <div>
        <div class="w3-display-middle" id="QRImage3">
            <h1 class="w3-jumbo w3-animate-top w3-center"><code><strong>Thank You For Attention</strong></code></h1>
            <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
            <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
            <h6 class="w3-center w3-animate-zoom">The End</h6>
        </div>
    </div>


